.alfa
  position fixed
  left 20px
  bottom 20px
  background #000
  padding 4px
html
body
  height 100%
#app
  min-height 100%
#app
  font-family Roboto, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  transition color .4s,  background .4s

#app.dark-theme
  color #00cb43
  background #1A1A1A
  a
    color #00cb43

#app.light-theme
  color #000
  background #fff
  a
    color #000
.container
  max-width 1366px
  width 100%
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px

a
  transition color .4s,  background .4s
  text-decoration none

button
  color inherit
  background #07581b
  border none
  padding 10px 20px
  margin-right 10px
  margin-top 10px
  margin-bottom 10px
  cursor pointer
  transition background .3s
  &:hover
    background #067822
